.navigation {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    &:before {
        color: $white;
        font-size: 26px;
        display: block;
        font-family: $font-awesome;
        content: "\f0c9";
        @include mq($large-up) {
            display: none;
        }
    }
    &.opened {
        &:before {
            content: "\f00d";
        }
        .navigation__wrapper {
            background-color: $primaryColor;
            text-align: center;
            display: block;
            top: 88px;
            right: 0;
            width: 100%;
        }
        .menu-item {
            border-bottom: 1px solid $darkGray;
            &:last-child {
                border: 0;
            }
            a {
                font-size: 18px;
            }
        }
    }
    @include mq($medium-up) {
        width: auto;
    }
    &__wrapper {
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        @include mq($large-up) {
            display: flex;
            position: static;
            flex-flow: row wrap;
        }
    }
    .menu-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 10px 15px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        transition: .3s all ease-in-out;
        @include mq($medium-up) {
            padding: 0 9px;
        }
        @include mq($large-up) {
            padding: 0 16px;
        }
        &:first-child {
            margin: 0;
        }
        html.desktop &:hover {
            background-color: $white;
            a {
                color: $red;
            }
        }
        &.current-menu-item {
            a {
                @include mq($large-up) {
                    &::after {
                        background-color: #fff;
                        border-radius: 50%;
                        display: block;
                        content: " ";
                        bottom: -8px;
                        height: 5px;
                        margin-left: 50%;
                        left: -2.5px;
                        position: absolute;
                        width: 5px;
                    }
                }
            }
        }
        a {
            color: $white;
            font-size: 12px;
            text-decoration: none;
            position: relative;
        }
    }
    .menu-item-has-children {
        html.desktop &.hover {
            .sub-menu {
                display: flex;
                flex-flow: column;
            }
        }
    }
    .sub-menu {
        display: none;
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        top: 100%;
        left: 0;
        .menu-item {
            display: flex;
            background-color: $white;
            padding: 10px 12px;
            border-bottom: 1px solid $darkGray;
            text-transform: capitalize;
            &:after {
                display: none;
            }
            html.desktop &:hover {
                background-color: darken($red, 10);
                a {
                    color: $white;
                }
            }
            &:last-child {
                border-bottom: 0;
            }
        }
    }
}
