.header {
    background-color: rgba($primaryColor, .75);
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    position: fixed;
    height: 88px;
    width: 100%;
}
