.navigation {
    &__link {
        text-decoration: none;
        &--active,
        &:hover {
            text-decoration: underline;
            &::after {
                background-color: #fff;
                border-radius: 50%;
                content: " ";
                bottom: -15px;
                height: 3px;
                position: absolute;
                width: 3px;
            }
        }
    }
}
