.slider {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.slide {
    float: left;
    position: relative;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 100%;
    &--full {
        width: 100%;
    }
    &__image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 0;
    }
    &__opacity {
        background-color: $black;
        height: 100%;
        opacity: .75;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }
    &__text {
        padding: 0 15px;
        position: relative;
        text-align: center;
        z-index: 3;
        @include mq($large-up) {
            padding: 0;
        }
        &--center {

        }
    }
}
