.navigation {
    &__list {
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__element {
        float: left;
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
        &--active,
        &:hover {
            text-decoration: underline;
            &::after {
                background-color: #fff;
                border-radius: 50%;
                content: " ";
                bottom: -15px;
                height: 3px;
                position: absolute;
                width: 3px;
            }
        }
    }
    &__link {
        text-decoration: none;
    }
}
