<div class="main-content">
    <section class="hero hero--contact">
        <div class="wrapper-container">
            <h1 class="hero__title page-title">Contacto</h1>
            <p class="hero__tagline">Tienes preguntas o sugerencias? Contactános!</p>
        </div>
    </section>
    <section class="page-content">
        <div class="wrapper-container">
            <div class="contact__column">
                {{ content }}
            </div>
            <div class="contact__column">
                {{ form:create in="contact" }}

                    {{ if errors }}
                        <div class="alert alert-danger">
                            {{ errors }}
                                {{ value }}<br>
                            {{ /errors }}
                        </div>
                    {{ /if }}

                    {{ if success }}
                        <div class="alert alert-success">
                            Form was submitted successfully.
                        </div>
                    {{ /if }}

                    <div class="form-group">
                        <input type="text" name="name" value="{{ old:name }}" class="form-control" />
                    </div>

                    <div class="form-group">
                        <input type="text" name="email" value="{{ old:email }}" class="form-control" />
                    </div>

                    <div class="form-group">
                        <input type="number" name="number" value="{{ old:number }}" class="form-control" />
                    </div>

                    <div class="form-group">
                        <textarea name="comment" class="form-control">{{ old:comment }}</textarea>
                    </div>

                    <button class="btn btn-primary">Enviar</button>

                {{ /form:create }}
            </div>
            <div class="map-widget"></div>
        </div>
    </section>
</div>
