<section class="hero">
    {{ asset:hero_image }}<div class="hero__image" style="background-image: url('{{url}}')"></div>{{ /asset:hero_image }}
    <div class="hero__opacity"></div>
    <div class="hero__tt">
        <h1 class="hero__title">{{ site_name }}</h1>
    </div>
</section>
<section id="main-content" class="regular-section">
    <div class="content-wrapper">
    </div>
    <div class="slider testimonial-slider">
        {{ relate:testimonial_slider }}
            <div class="slide slide--full testimonial">
                {{ asset:image }}<div class="slide__image" style="background-image: url('{{url}}')"></div>{{ /asset:image }}
                <div class="slide__opacity"></div>
                <div class="slide__text slide__text--center">
                    <div class="testimonial__copy">
                        <div class="testimonial__story">{{ story }}</div>
                        <div class="testimonial__source">
                            {{ name }}, {{origin}}
                        </div>
                    </div>
                </div>
            </div>
        {{ /relate:testimonial_slider }}
    </div>
    {{ partial:cta-recetas }}
</section>
