body {
    @include font-style();
    background: $baseColor;
    color: $white;
    font-size-adjust: 0;
    font-size: 18px;
    margin: 0;
}
#main-content {
    @include mq($large-up) {
        min-height: calc(100vh - 400px);
    }
}
