// The colors duke! The colors!
$red: #ff0000;
$white: #FFFFFF;
$darkGray: #6e6e6e;
$primaryColor: $red;
$baseColor: $white;
$accentColor: $darkGray;


$color_dark:  #3c3c3c;
$color_mid:   #445566;
$color_light: #b8b8b8;

$color_teal: #005566;

// Font variables
$lato: 'Lato', sans-serif;
$font_sans:  'Lato', sans-serif;
$font_serif: 'Lora', serif;

$gap: 32px;
