@charset "UTF-8";
@import url(../node_modules/normalize.css);
/* Slider */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background: #FFFFFF;
  color: #FFFFFF;
  font-size-adjust: 0;
  font-size: 18px;
  margin: 0; }

@media only screen and (min-width: 64em) {
  #main-content {
    min-height: calc(100vh - 400px); } }

.content-wrapper {
  margin: 0 auto;
  max-width: 973px;
  width: 95%; }
  @media only screen and (min-width: 64em) {
    .content-wrapper {
      width: 98%; } }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.block {
  display: block; }

.col-centered {
  float: none;
  margin: 0 auto; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 42px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase; }

.black {
  font-family: "Lato", sans-serif;
  font-weight: 900; }

.navigation__link {
  color: #FFFFFF;
  margin-left: 20px;
  font-size: 12px;
  padding: 10px 3px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase; }
  .navigation__link:first-child {
    margin: 0; }
  .navigation__link--active::after, .navigation__link:hover::after {
    background-color: #fff;
    border-radius: 50%;
    display: block;
    content: " ";
    bottom: 1px;
    height: 5px;
    margin-left: 50%;
    left: -2.5px;
    position: absolute;
    width: 5px; }

.hero {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 320px;
  position: relative;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%; }
  @media only screen and (min-width: 64em) {
    .hero {
      height: 640px; } }
  .hero__image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0; }
  .hero__opacity {
    background-color: #000000;
    height: 100%;
    opacity: .75;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; }
  .hero__tt {
    padding: 0 15px;
    position: relative;
    text-align: center;
    z-index: 3; }
    @media only screen and (min-width: 64em) {
      .hero__tt {
        padding: 0; } }
  .hero__title {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0; }
  .hero__subtitle {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 0; }

.slider {
  width: 100%;
  height: auto;
  margin-bottom: 0;
  overflow: hidden;
  position: relative; }
  .slider.slick-dotted {
    margin-bottom: 0; }
  .slider .slick-dots {
    bottom: 35px; }
    .slider .slick-dots li {
      background-color: #FFFFFF;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      margin: 0 8px; }
      .slider .slick-dots li.slick-active {
        background-color: #ff0000; }

.slide {
  float: left;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%; }
  .slide--full {
    width: 100%; }
  .slide__image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0; }
  .slide__opacity {
    background-color: #000000;
    height: 100%;
    opacity: .75;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; }
  .slide__text {
    padding: 0 15px;
    position: relative;
    text-align: center;
    z-index: 3; }
    @media only screen and (min-width: 64em) {
      .slide__text {
        padding: 0; } }

.recetas-cta__title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #ff0000;
  font-size: 64px;
  margin-bottom: 10px; }

.recetas-cta__copy {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #6e6e6e;
  font-size: 20px;
  margin-bottom: 35px; }

.recetas-cta__link {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #6e6e6e;
  font-size: 20px;
  text-decoration: none; }

.recetas-cta__wrapper {
  box-sizing: border-box;
  background: #FFFFFF url(../images/recetascta_bg.png) center no-repeat;
  background-size: cover;
  text-align: center;
  padding: 45px 0;
  width: 100%; }

.footer__body {
  background: transparent url(../images/footer_bg.png) center no-repeat;
  background-size: cover;
  display: block;
  min-height: 300px;
  padding: 35px 0 25px; }

.footer__legal {
  -webkit-box-align: center;
  align-items: center;
  background-color: #ff0000;
  display: -webkit-box;
  display: flex;
  height: 56px;
  text-align: center; }

.footer__copyright {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  margin: 0; }

.footer__item-wrapper {
  overflow: hidden;
  clear: both; }

.footer .ft-item {
  color: #FFFFFF;
  float: left;
  margin-bottom: 40px;
  width: 100%; }
  @media only screen and (min-width: 64em) {
    .footer .ft-item {
      width: 50%; } }
  .footer .ft-item:last-child {
    margin-bottom: 0; }
  .footer .ft-item--full {
    clear: both;
    width: 100%; }
  .footer .ft-item__title {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .footer .ft-item__description {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px; }
  .footer .ft-item__link {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none; }
    .footer .ft-item__link:visited {
      color: #FFFFFF; }

.header {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  background-color: rgba(255, 0, 0, 0.8);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  height: 88px;
  width: 100%;
  z-index: 50; }
  .header__wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    justify-content: space-between; }
  .header__logo {
    cursor: pointer; }

.section-home .testimonial {
  height: 445px; }
  .section-home .testimonial__copy {
    margin: 0 auto;
    width: 70%; }
    @media only screen and (min-width: 64em) {
      .section-home .testimonial__copy {
        width: 50%; } }
  .section-home .testimonial__story {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 26px; }
  .section-home .testimonial__source {
    margin-top: 50px;
    font-size: 30px; }

/*# sourceMappingURL=parada_v1.css.map */
