@import url(../node_modules/normalize.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background: #FFFFFF;
  color: #FFFFFF;
  font-size-adjust: 0;
  font-size: 18px;
  margin: 0;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 973px;
  width: 98%;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  letter-spacing: -.025em;
  margin: 0 0 32px -1px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

h6 em {
  color: #b8b8b8;
  font-style: normal;
}

.special {
  font-family: "Lora", serif;
  margin-bottom: 64px;
}

.special small {
  display: block;
  font-family: "Lato", sans-serif;
  color: #b8b8b8;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  margin-bottom: 10px;
}

section header h1 {
  line-height: 1;
  margin-bottom: 32px;
}

section header h2 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 64px;
}

article.content p {
  font-family: "Lora", serif;
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 32px;
}

article.content p > a {
  color: #3c3c3c;
  text-decoration: none;
  text-shadow: -1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
  position: relative;
  white-space: nowrap;
}

article.content p > a:after {
  display: block;
  position: absolute;
  width: 100%;
  border-top: 1px solid #000;
  content: "";
  bottom: 0.1em;
  left: 0;
  z-index: -1;
}

article.content blockquote {
  border: none;
  padding: 0;
  margin: 0 -160px 32px;
}

article.content blockquote p {
  font-size: 28px;
  font-style: italic;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}

article.content ol,
article.content ul {
  margin-bottom: 32px;
}

article.content li {
  margin-bottom: 16px;
}

article.content li:last-child {
  margin-bottom: 0;
}

article.content img {
  margin-top: 10px;
  max-width: 100%;
  text-align: center;
}

article.content img.yank-left {
  max-width: 30%;
  float: left;
  margin-left: -15%;
  margin-right: 32px;
}

article.content img.yank-right {
  max-width: 30%;
  float: right;
  margin-right: -15%;
  margin-left: 32px;
}

article.content img.oversized {
  margin: 0 -15%;
  max-width: 130%;
}

article.content p.caption {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 14px;
  text-align: center;
  padding-top: 3px;
}

article.content iframe {
  margin-bottom: 32px;
}

.block {
  margin-top: 32px;
  padding-top: 32px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.block h3 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin: 0 0 5px;
  line-height: 1.5;
}

.block p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  margin: 0;
}

.block a {
  color: #3c3c3c;
}

.block a:focus,
.block a:hover {
  text-decoration: none;
}

.block img {
  max-width: 100%;
}

.block img.small-image {
  border: 1px solid rgba(0, 0, 0, 0.05);
  float: right;
  margin: 3px 0 0 32px;
}

.block img.large-image {
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 16px;
}

.meta {
  color: #b8b8b8;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  margin: 0 0 64px;
}

.meta a {
  color: #005566;
  font-size: 14px;
  font-weight: bold;
  padding-top: 5px;
}

.meta .date {
  color: #3c3c3c;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
}

code {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 16px;
}

.centered {
  text-align: center;
}

.header {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  background-color: rgba(255, 0, 0, 0.8);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  height: 88px;
  width: 100%;
}

.header__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  cursor: pointer;
}

.navigation__link {
  color: #FFFFFF;
  margin-left: 20px;
  font-size: 12px;
  padding: 10px 3px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation__link:first-child {
  margin: 0;
}

.navigation__link--active::after,
.navigation__link:hover::after {
  background-color: #fff;
  border-radius: 50%;
  display: block;
  content: " ";
  bottom: 1px;
  height: 5px;
  margin-left: 50%;
  left: -2.5px;
  position: absolute;
  width: 5px;
}