@import url(../node_modules/normalize.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background: #FFFFFF;
  color: #FFFFFF;
  font-size-adjust: 0;
  font-size: 18px;
  margin: 0;
}

@media only screen and (min-width: 64em) {
  #main-content {
    min-height: calc(100vh - 400px);
  }
}

.content-wrapper {
  margin: 0 auto;
  max-width: 973px;
  width: 98%;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

.navigation__link {
  color: #FFFFFF;
  margin-left: 20px;
  font-size: 12px;
  padding: 10px 3px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation__link:first-child {
  margin: 0;
}

.navigation__link--active::after,
.navigation__link:hover::after {
  background-color: #fff;
  border-radius: 50%;
  display: block;
  content: " ";
  bottom: 1px;
  height: 5px;
  margin-left: 50%;
  left: -2.5px;
  position: absolute;
  width: 5px;
}

.footer__body {
  background: transparent url(../images/footer_bg.png) center no-repeat;
  background-size: cover;
  display: block;
  min-height: 300px;
  padding: 35px 0 25px;
}

.footer__legal {
  -ms-flex-align: center;
  align-items: center;
  background-color: #ff0000;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
  text-align: center;
}

.footer__copyright {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  margin: 0;
}

.footer__item-wrapper {
  overflow: hidden;
  clear: both;
}

.footer .ft-item {
  color: #FFFFFF;
  float: left;
  margin-bottom: 40px;
  width: 100%;
}

@media only screen and (min-width: 64em) {
  .footer .ft-item {
    width: 50%;
  }
}

.footer .ft-item:last-child {
  margin-bottom: 0;
}

.footer .ft-item--full {
  clear: both;
  width: 100%;
}

.footer .ft-item__title {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.footer .ft-item__description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}

.footer .ft-item__link {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer .ft-item__link:visited {
  color: #FFFFFF;
}

.header {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  background-color: rgba(255, 0, 0, 0.8);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  height: 88px;
  width: 100%;
}

.header__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  cursor: pointer;
}