h1 {
    font-size: 60px;
}
h2 {
    font-size: 42px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
.black {
    @include font-style($style: black);
}
