input[type="submit"] {
    color: $white;
    border: 0;
    background-color: $red;
    border-bottom: 2px solid darken($red , 25);
    outline: none;
    padding: 0 10px;
    font-size: 15px;
}
input[type="text"],
input[type="search"] {
    background-color: $bones;
    border: 0;
    height: 35px;
    margin: 0;
    outline: none;
    padding: 0 5px;
}
