body.page-template,
body.page,
body.blog,
body.single {
    margin: 0;
    background: $baseColor;
}
#main-content {
    @include font-style();
    color: $white;
    font-size-adjust: 0;
    font-size: 18px;
    @include mq($large-up) {
        min-height: calc(100vh - 400px);
    }
}
