<footer class="footer">
    <div class="footer__body">
        <div class="content-wrapper">
            <div class="footer__item-wrapper">
                <div class="footer__item ft-item">
                    <div class="ft-item__title">Quienes somos</div>
                    <div class="ft-item__description">Manteniendo una rica tradición desde 1969</div>
                    <a href="" class="ft-item__link">Leer más ></a>
                </div>
                <div class="footer__item ft-item">
                    <div class="ft-item__title">Horario laboral</div>
                    <div class="ft-item__description">
                        <span class="black">Lunes</span><br>
                        7:30 am a 8:00 pm <br>
                        <span class="black">Martes a Domingos</span><br>
                        7:30 am a 9:00 pm
                    </div>
                </div>
            </div>
            <div class="footer__item-wrapper">
                <div class="footer__item ft-item">
                    <div class="ft-item__title">Contáctenos</div>
                    <div class="ft-item__description">Tienes preguntas o sugerencias? contáctanos!</div>
                    <a href="" class="ft-item__link">Leer más ></a>
                </div>
                <div class="footer__item ft-item">
                    <div class="ft-item__title">Síguenos</div>
                    <div class="ft-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                </div>
            </div>
            <div class="footer__item-wrapper">
                <div class="footer__item ft-item--full ft-item">{{ assets:site_logo }}<a href="/"><img src="{{ url }}" alt="{{ alt }}" /></a>{{ /assets:site_logo }}</div>
            </div>
        </div>
    </div>
    <div class="footer__legal">
        <div class="content-wrapper">
            <p class="footer__copyright">{{ site_name }} {{ now format="Y" }}. Derechos reservados.</p>
        </div>
    </div>
</footer>
