<footer class="footer">
    <div class="footer__body">
        <div class="wrapper-container">
            <div class="row">
                <div class="footer__item ft-item">
                    <div class="ft-item__title">Quiénes somos</div>
                    <div class="ft-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                </div>
                <div class="footer__item ft-item">
                    <div class="ft-item__title">Horario laboral</div>
                    <div class="ft-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                </div>
            </div>
            <div class="row">
                <div class="footer__item ft-item">
                    <div class="ft-item__title">Siguenos</div>
                    <div class="ft-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                </div>
                <div class="footer__item ft-item">
                    <div class="ft-item__title">Contactenos</div>
                    <div class="ft-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                </div>
            </div>
            <div class="row">
                <div class="footer__item footer__item--full ft-item">LOGO</div>
            </div>
        </div>
    </div>
    <div class="footer__legal">
        <div class="wrapper-container">
            <p class="footer__copyright">La Parada Obligatoria {{ now format="Y" }}. Derechos reservados.</p>
        </div>
    </div>
</footer>
