article.post {
    color: $black;
    h1 {
        font-size: 35px;
    }
    .featured-image {
        max-width: 100%;
    }
    time {
        color: $accentColor;
    }
    .entry-content {
        font-size: 14px;
    }
    .read-more {
        @include font-style(title);
        clear: both;
        color: $black;
        display: block;
        font-size: 20px;
        margin: 15px 0 45px;
        text-decoration: none;
        &:hover {
            color: $primaryColor;
        }
        &:visited {
            color: $primaryColor;
        }
    }
}
