article.post {
    color: $black;
    h1 {
        font-size: 35px;
    }
    .featured-image {
        max-width: 100%;
    }
    time {
        color: $accentColor;
    }
    .entry-content {
        font-size: 14px;
    }
}
