.page-template-recipes-page-php {
    .hero {
        margin-bottom: 0;
    }
}
.featured-recipes {
    background-color: #f0f0f0;
    color: $black;
    padding: 40px 0;
    margin-bottom: 75px;
}
.featured-recipes-title {
    font-size: 22px;
    margin: 10px 0 10px;
    text-transform: uppercase;
}
